/*+++2015.07.23 18:00+++*/

/*++第1部分+++++++++++++++++++++++防启动后界面跳动+++++++++++++++++++++++++*/

/*工具栏图标倒三角下拉选项隐藏*/
.toolbarbutton-menubutton-dropmarker, .toolbarbutton-menu-dropmarker { display:none !important; }

/*地址栏下拉栏隐藏*/
.urlbar-history-dropmarker {
	display:none!important;
}

/*调节标签的宽度*/
.tabbrowser-tab[fadein]:not([pinned]) {
max-width:100px !important;
min-width:100px !important;
}

/*地址栏图标加分隔线*/
#urlbar-icons{
padding:1px 1px !important;
border-right:1px #BBC2C8 solid !important;
}

/*地址欄標識加分割线*/
#identity-box {
  -moz-border-end: 1px solid /*threedshadow*/rgba(0,0,0,.2) !important;
}

/*anoBtn向左对齐*/
#anobtn{
margin: 0 0 0 -3px !important;
padding: 0px !important;
}

/*隐藏图标*/
#home-button,
#stylish-toolbar-button,/*Stylish導航欄圖標*/
#ghostery-button-badge,/*Ghostery计数*/
#social-share-button,/*分享此页面*/
#loop-button-throttled,/*开始会话*/
#loop-button,/*Loop通話*/
#GrabScroll-image,
#masonStatusbar,/*Mason*/
#noscript-tbb,/*Noscript*/
#ScrapBookStatusPanel,/*ScrapBook*/
#scriptish-button /*Scriptish*/
{display: none !important;}

/*調整圖標邊框——方法1*/
#PanelUI-menu-button >image,/*三道杠圖標*/
#back-button >image, 
#forward-button >image
{padding: 0px !important;}

/*調整圖標邊框——方法3*/
#downloads-button .toolbarbutton-icon
{padding: 0px !important;}

/*五角星書籤圖標邊框及左右距離*/
#bookmarks-menu-button .toolbarbutton-icon {
padding: 0px !important;
margin-left: 5px !important;
margin-right: 5px !important;
border-right:1px #BBC2C8 solid !important;
}

