/*+++ 2015.10.29 +++*/

/*++第1部分+++++++++++++++++++++++防启动后界面跳动+++++++++++++++++++++++++*/

/*工具栏图标倒三角下拉选项隐藏*/
.toolbarbutton-menubutton-dropmarker, .toolbarbutton-menu-dropmarker { display:none !important; }

/*地址栏下拉栏隐藏*/
.urlbar-history-dropmarker {
	display:none!important;
}

/*调节标签的宽度*/
.tabbrowser-tab[fadein]:not([pinned]) {
max-width:100px !important;
min-width:100px !important;
}

/*地址栏图标加分隔线*/
#urlbar-icons{
padding:1px 1px !important;
border-right:1px #BBC2C8 solid !important;
}

/*隐藏图标*/
#toggle-button--redirectoreinaregilssoncom-redirector,/*redirector擴展*/
#pocket-button,/*Pocket*/
#bookmarks-menu-button,/*書籤五角星*/
#home-button,
#stylish-toolbar-button,/*Stylish導航欄圖標*/
#ghostery-button-badge,/*Ghostery计数*/
#social-share-button,/*分享此页面*/
#loop-button-throttled,/*开始会话*/
#loop-button,/*Loop通話*/
#GrabScroll-image,
#masonStatusbar,/*Mason*/
#noscript-tbb,/*Noscript*/
#ScrapBookStatusPanel,/*ScrapBook*/
#scriptish-button,/*Scriptish*/
#abp-menuitem,/*ABP*/
#aup-menuitem,/*AutoProxy*/
#gm_general_menu,/*GreaseMonkey*/
#identity-icon-labels, 
#identity-popup,
#reader-mode-button,/*閱讀模式按钮*/
#panic-button,/*忘記某些歷史*/
#downloadsListBox,/*下載框彈窗*/
#PlacesChevron/*书签工具栏产生的箭头*/
{display: none !important;}

/*調整圖標邊框——方法1*/
#PanelUI-menu-button >image,/*三道杠圖標*/
#back-button >image, 
#forward-button >image
{padding: 0px !important;}

/*調整圖標邊框——方法3*/
#downloads-button .toolbarbutton-icon
{padding: 0px !important;}

/*AnoBtn圖標（两句要同時用）*/
toolbarbutton#anobtn,toolbarbutton#anobtn>image
{padding: 0px !important;margin-left:1px !important;}

