/*+++2015.05.10 10:00+++*/

/*++第1部分+++++++++++++++++++++++防启动后界面跳动+++++++++++++++++++++++++*/

/*调节标签的宽度*/
.tabbrowser-tab[fadein]:not([pinned]) {
max-width:100px !important;
min-width:100px !important;
}

/*地址栏图标加分隔线*/
#urlbar-icons{
padding:1px 1px !important;
border-left:1px #BBC2C8 solid !important;
}

/*anoBtn向左对齐*/
#anobtn{
margin: 0 0 0 -3px !important;
padding: 0px !important;
}

/*隐藏图标*/
#home-button,
#stylish-toolbar-button,/*Stylish導航欄圖標*/
#ghostery-button-badge,/*Ghostery计数*/
#social-share-button,/*分享此页面*/
#loop-button-throttled,/*开始会话*/
#loop-button,/*Loop通話*/
#GrabScroll-image,
#masonStatusbar,/*Mason*/
#noscript-tbb,/*Noscript*/
#ScrapBookStatusPanel,/*ScrapBook*/
#scriptish-button /*Scriptish*/
{display: none !important;}

/*++第2部分+++++++++++++++++++++++以下为書簽欄自動隱藏+++++++++++++++++++++++++*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#PersonalToolbar {
visibility: hidden !important;
opacity: 0;
-moz-transition-duration: 0.1s;
-moz-transition-property: visibility, opacity, margin;
-moz-transition-delay: 1s} /*设置多少秒bookmark消失*/

#nav-bar:hover~#PersonalToolbar,#PersonalToolbar:hover /*此处为hover地址栏自动弹出bookmark，若想hover地址栏+标签栏，请改#navigator-toolbox:hover > */
{
visibility: visible !important;
opacity: 1;
-moz-transition-delay: 0.4s} /*设置多少秒后延迟出现*/

#PersonalToolbar {
position: fixed !important;
margin-top: 0px !important;/*接近地址欄才觸發*/
margin-left: 0% !important;
}
 
#nav-bar:hover~#PersonalToolbar,#PersonalToolbar:hover /*此处为hover地址栏自动弹出bookmark，若想hover地址栏+标签栏，请改#navigator-toolbox:hover > */
{
margin-top: 0px !important}
 
#main-window[stylish-url="about:addons"] #PersonalToolbar {
margin-top: 0px !important;
background: transparent !important; border: none !important}

#main-window[stylish-url="about:addons"] #PersonalToolbar {
display: none !important}


#PersonalToolbar {
background-color: #e6e7e7 !important;
}
