/* exexcept.css */

#documentCol[minimal="true"],
#dtdCol[minimal="true"],
#objectCol[minimal="true"],
#objectsubrequestCol[minimal="true"],
#pingCol[minimal="true"],
#refreshCol[minimal="true"],
#stylesheetCol[minimal="true"],
#subdocumentCol[minimal="true"],
#xblCol[minimal="true"],
#xmlhttprequestCol[minimal="true"],
#midRow[minimal="true"],
#botRow[minimal="true"] {
  visibility: collapse;
}


treechildren::-moz-tree-cell-text(disable) {
  color: red;
}

treechildren::-moz-tree-cell-text(enable) {
  color: green;
}

treechildren::-moz-tree-cell-text(noforeign) {
  color: blue;
}
treechildren::-moz-tree-cell-text(default) {
  color: grey;
}
