/*2015.07.19 19:00*/

/*下载弹窗大小调整*/
#unknownContentType {
height: 340px !important;
width: 450px!important;
}

/*ucjsPermission2選項菜單左列調整*/
/*3個圓圈選項*/
#miscGroup > groupbox > hbox:nth-child(4) > radiogroup:nth-child(4) > hbox, 
#miscGroup > groupbox > hbox:nth-child(5) > radiogroup:nth-child(4) > hbox, 
#cookieRadio > hbox, 
#miscGroup > groupbox > hbox:nth-child(7) > radiogroup:nth-child(4) > hbox, 
#miscGroup > groupbox > hbox:last-child > radiogroup:nth-child(4) > hbox {
margin-left: -30px !important;
}
/*方形按鈕*/
#miscGroup > groupbox > hbox:nth-child(4) > button:last-child,
#miscGroup > groupbox > hbox:nth-child(5) > button:last-child,
#miscGroup > groupbox > hbox:nth-child(6) > button:last-child,
#miscGroup > groupbox > hbox:nth-child(7) > button:last-child,
#miscGroup > groupbox > hbox:last-child > button:last-child {
margin-right: 18px !important;
}