/*+++ 2015.10.29 +++*/

/*下载弹窗大小调整*/
#unknownContentType {
height: 340px !important;
width: 450px !important;
}

/*選項弹窗大小调整*/
#BrowserPreferences {
height: 530px !important;
}

/*字體彈窗大小調整*/
#FontsDialog {
width: 420px !important;
}

/*ucjsPermission2選項菜單右列調整*/
/*方形按鈕*/
#miscGroup > groupbox > hbox:nth-child(4) > button:last-child,
#miscGroup > groupbox > hbox:nth-child(5) > button:last-child,
#miscGroup > groupbox > hbox:nth-child(6) > button:last-child,
#miscGroup > groupbox > hbox:nth-child(7) > button:last-child,
#miscGroup > groupbox > hbox:last-child > button:last-child {
margin-right: 18px !important;
}

/*redirector編輯窗口*/
#edit-redirect-form {
top: 260px !important;
}
