/*+++2015.10.01+++*/

/*样式伪进度条
@-moz-document url-prefix("http://"),url-prefix("https://"){
html:before{
content:"";
position:fixed;height:1px;
z-index:10000000;top:0;left:0;
background: -moz-linear-gradient(top, rgb(232,25,87) 0%, rgb(170,0,51) 100%);
box-shadow:0 1px 5px rgba(190,50,0,0.5);
-moz-animation:jindu 3s ease 0.5s 1 forwards;
}
@-moz-keyframes jindu{
0% {width:0;}
99% {width:100%;}
100%{width:0;}
}
}
*/

/*书签栏左右变窄*/
.bookmark-item > .toolbarbutton-icon {
margin: 0px 0px 0px -2px !important;
padding: 0px !important;
}

/*书签文件夹下拉过长显示滚动条 Show ScrollBar On Bookmark Folder*/
@-moz-document url(chrome://browser/content/browser.xul) {
	.bookmark-item[container="true"]  scrollbox {
	overflow-y:auto !important;
}
}

/*Oos定制 —— WordHighlightToolbar & 查找栏样式*/
/*WordHighlightToolbar & 查找栏置于顶部*/
#wordhighlight-toolbar-box,
.browserContainer findbar {
-moz-box-ordinal-group: 0!important;
position: fixed!important;
border: 1px solid #A6A6A6;
border-top: none;
}

/*WordHighlightToolbar距離*/
#wordhighlight-toolbar-box {
background: #FFFFFF;
right: 1px; /*距右邊*/
/*top: 64px; /*Win8距上邊*/
top: 68px; /*Win10距上邊*/
height: 24px;
/*>>>自行修改数字*/
border: 1px solid #A6A6A6;
border-radius: 0px 0px 0px 2.5px;
padding: 1px 1px 0px 0px;
}

/*WordHighlightToolbar & 查找栏按钮边框*/
#wordhighlight-toolbar-box *,
.browserContainer findbar * {
margin: 0px!important;
padding: 0px!important;
}

/*隐藏查找栏关闭按钮*/
:-moz-any(.browserContainer, #viewSource) .findbar-container :-moz-any(spacer, toolbarspacer, .findbar-find-fast[anonid="match-case-status"]),
findbar .findbar-closebutton {
visibility: collapse;
}

/*查找栏几个按钮排序*/
.findbar-container .findbar-highlight {-moz-box-ordinal-group: 2;}
.findbar-container .findbar-case-sensitive {-moz-box-ordinal-group: 3;}
.findbar-container label[value="(区分大小写)"] {-moz-box-ordinal-group: 4;}
.findbar-container .findbar-find-status {-moz-box-ordinal-group: 5;}

