/*+++ 2016.01.11 +++*/

/*下载弹窗大小调整*/
#unknownContentType {
height: 340px !important;
width: 450px !important;
}

/*字體彈窗大小調整*/
#FontsDialog {
width: 420px !important;
}

/*redirector編輯窗口*/
#edit-redirect-form {
top: 260px !important;
}