/*@name        Classic Style Addons Manager
  @namespace   
  @description 更改浏览附加组件栏时的样式
  @Mod         Cing
  @version     1.10-20151221
  @reference               
*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://mozapps/content/extensions/extensions.xul"), url("about:addons") {
/* Description & Buttons, but not Update Available Message - Hide on not selected items */
.addon:not([selected]) :-moz-any(
.description-outer-container,
.include-update
),
.addon:not([selected]) .status-container > hbox
{
visibility: collapse !important;
}
.addon:not([selected]) .advancedinfo-container
{
margin-top: -20px !important;
}
 
/* Buttons - Move to the left */
.advancedinfo-container
{
display: block !important;
margin-top: -5px !important;
}
.control-container{
display: block !important;
margin-top: -7px !important;
margin-bottom: -8px !important;
}

/* Smaller font */
.addon .name-container,
#header
{
font-size: 11.9px !important;
}

/* Icons - Fix sizes */
.addon[selected] .icon-container,
.addon[selected] .icon
{
width: 32px !important;
height: 32px !important;
}
.addon:not([selected]) .icon-container,
.addon:not([selected]) .icon
{
width: 16px !important;
height: 16px !important;
}
.icon-container
{
margin: 0 !important;
margin-top: 2px !important;
}

/*附加组件栏项目文字调整*/
.name-container {
font-weight: normal!important;
color:#000 !important;
}
.name-container>.disabled-postfix{color:#999 !important;}

/*当前项样式*/
.category[selected="true"] {
background:rgb(250,250,250) !important;
border-color: rgb(205,205,205)!important;
border-right: none !important;
}


/*隐藏项样式*/
.category[hidden="true"],.category[disabled="true"] {
display:none !important;
}

/*最末项样式*/
.category:last-child {}
.category[selected="true"]:last-child {}

/*数字背景颜色微调*/
.category-badge {
background-color: rgba(0,0,0,0.25) !important;
padding: 2px 8px;
margin-right: 10px !important;
color: #FFF;
font-weight: normal !important;
}


/*分类排序*/
#category-userstyle{-moz-box-ordinal-group: 2;}
#category-greasemonkey-user-script{-moz-box-ordinal-group: 3;}
#category-userchromejs{-moz-box-ordinal-group: 4;}
#category-availableUpdates{-moz-box-ordinal-group: 5;}
#category-recentUpdates{-moz-box-ordinal-group: 6;}
#category-service{-moz-box-ordinal-group: 7;}


/*附加组件栏图标名称文字调整*/
.category-name{
padding-left:2px;
font-size: 100% !important;
display:block !important;
color: #000;
transition-duration: 0.2s;
transition-timing-function: ease-out;
}

/* 检查更新按钮*/
#header-utils-btn{
background:none !important;
border:none !important;
box-shadow: none !important;
}

/*搜索框*/
textbox#header-search {
width:212px !important;
height:26px !important;
margin:0px !important;
padding:4px !important;
border:1px solid rgb(204,204,204) !important;
}
.textbox-search-icon{
list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAQCAYAAABQrvyxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFfSURBVEhLxZZfSsNAEMa3vlbf/HOXEEg2kBPoZUofAgp91Qv0DtpeRKrHELR9KFWk9fvCrAxl65pamcCwKTsf/X6bmd11Tj1FUZxWVTXy3s8QKwZ+PyKuOadzY++m+rIsL2H4DWY3scDcnDm7IEz1/HOYXtM4jE4weqzmMYPveKYCtY5BmOrzPD/j6orB4a4VxvxQAOd1XZ+HPGu9Y32LsWmqxuXrsMRGIddaTwA2KU35FABzBHamAEz1TnaaTZZlJykA5gjAe8i11ncCkKbm11ruA/Af+r1KiGX3lxI6pF438SRVQqqJbyJNbKJ33BK7bKNYvQ/ERQCw1rc+9EEEc/fcbWCsz5Cd52HrdB5D1gsQ1vrWBwxeIRZbRr+vFfhKnz9BWOtbiHAZg5knKZUlxmceVjxxMY41BKDuYpdBK32qhznf0xAAePmNSOVY651rmuYIxm8B8opx0BHg4PovRIw2sPiCMsYAAAAASUVORK5CYII=") !important;
}


/*修正附加组件左侧动画方框距离*/
.category {
background:transparent !important;
height:55px !important;
padding-left:20px !important;
cursor: pointer;
margin-left: 0px !important;
}

#categories {
margin:0 !important;
padding-top:50px !important;
width:170px !important;
/*background:rgb(235,235,235) !important;*/
}
}

@-moz-document url("about:addons") {
/* 附加管理器 显示计数*/
.addon {counter-increment: addoncount !important;content: counter(addoncount) !important;}
.addon:first-child {counter-reset: addoncount !important;}
.addon[active="false"] {counter-increment: disabled !important;}
#addon-list:after {
content: "[ "counter(addoncount)" 啟用 | "counter(disabled)" 禁用 ]" !important;
position: fixed !important;
top: 30px !important;
left: 80px !important;
cursor: default;
white-space: nowrap !important;
}

/*修正Firefox40右側內容靠下问题*/
#view-port {
margin-top: -18px !important;
}

/* 显示ID*/
.addon[selected="true"]::after {
content: " ID : " attr(value) !important;
position: absolute !important;
margin-left: 30px !important;
color: red !important;
cursor: default;}

/*显示更新日期*/
#list-view:not([type="userstyle"])#list-view:not([type="userchromejs"])
#addon-list .date-updated {
display: -moz-box !important;
}

/* ====== 附加組件顯示版本號(FX40+) ====== */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://mozapps/content/extensions/extensions.xul"), url("about:addons") {
#search-list .addon:not([type="userstyle"])[status="installed"] .name-container > spacer,
#addon-list .addon:not([type="userstyle"])[status="installed"] .name-container > spacer {
-moz-binding: url('data:application/xml,\
\
<?xml version="1.0"?>\%0A\
<bindings xmlns="http://www.mozilla.org/xbl">\%0A\
<binding id="addonversion">\%0A\
<implementation>\%0A\
<constructor>\%0A\
<![CDATA[\%0A\
var richlistitem = document.getBindingParent(this);\%0A\
\%0A\
var nameLabel = document.getAnonymousElementByAttribute(richlistitem, "anonid", "name");\%0A\
var label = richlistitem._version = document.createElement("label");\%0A\
label.setAttribute("anonid", label.className = "version");\%0A\
this.parentNode.insertBefore(label, nameLabel.nextSibling);\%0A\
var addon = richlistitem.mAddon;\%0A\
shouldShowVersionNumber(addon) ? label.value = addon.version : label.hidden = true;\%0A\
\%0A\
var str = \'this._icon.src = "";\\n\';\%0A\
richlistitem._initWithAddon = eval(`(${\%0A\
String.replace(richlistitem._initWithAddon, str, [str,\%0A\
" if (shouldShowVersionNumber(this.mAddon))",\%0A\
" this._version.value = this.mAddon.version;",\%0A\
" else",\%0A\
" this._version.hidden = true;\\n"\%0A\
].join("\\n"))\%0A\
})`);\%0A\
str = \'this._showStatus("update-available");\\n\';\%0A\
richlistitem.onNewInstall = eval(`(${\%0A\
String.replace(richlistitem.onNewInstall, str, str +\%0A\
" this._updateUpgradeInfo();"\%0A\
)\%0A\
})`);\%0A\
richlistitem._updateUpgradeInfo = function _updateUpgradeInfo() {\%0A\
// Only update the version string if we\'re displaying the upgrade info\%0A\
if (this.hasAttribute("upgrade") && shouldShowVersionNumber(this.mAddon))\%0A\
this._version.value = this.mManualUpdate.version;\%0A\
}\%0A\
]]>\%0A\
</constructor>\%0A\
</implementation>\%0A\
</binding>\%0A\
</bindings>\
\
') !important;
}
}