/*+++ 2016.01.11 +++*/

/*标签样式css*/
.tabbrowser-tab[busy] {color: blue !important;}/* 正在加载标签 */
.tabbrowser-tab[pending] {color: gray !important;}/* 未加载标签 */
.tabbrowser-tab[unread] {color: red !important;}/* 未读标签 */

/*有些网站无LOGO图标，加空白图标*/
.tab-icon-image:not([src]):not([pinned]) {
display: block !important;
list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}
.tab-throbber:not([busy]),
.tab-throbber[busy] + .tab-icon-image:not([src]):not([pinned]) {
display: none !important;
}

/*当前标签显示关闭按钮*/
.tabbrowser-tab:not([selected]) .tab-close-button{display:none!important;}/*非当前页关闭按钮自动隐藏*/
.tabbrowser-tab:not([pinned]):hover .tab-close-button{display:inherit!important;}/*鼠标移动上去显示*/

/*标签关闭按钮*/
.tabbrowser-tab:not([selected]) .tab-close-button, .close-icon[selected] {list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAQCAYAAACm53kpAAACIklEQVRYhe1WsWrjQBAdCBhSubDLgLuULl2YkD/ITxzXpQqpwsLOlMqfpJHEzlQprCYqnMpuXLq+LgF3qZRmdOxtVrakS1z5wcIyYmHf2zdvBHDCCd+KJEmGIvJbRJYi8sbM77q/FZFxm/NE9IuISiLaEdEOEV+ttXdJkgyPwaE30jS9YOYXEaka1jrLssum88aYCSIuiKiKLUTcENH0GFzOW9b+Ql++YOaNiBQR8ktvfXFCkiRDRFwg4iYmAiKuiKhExJUxZnLg/mcta1GcA0AFACOvNtJaowhq+0pEijzPZ4EIyzzPZ8wsIlI55+7D82r7SsnPfRGU/JyInoiostaaPfc/A4AbABh4tYHWWotQEx4F+0YE1i9E5Epra92L3woRAUqP8EIJl2r765p83QoH7l8THgT7TqiJHyQPACAib77lmfklz/OZc27KzM/Bt4+IALvA9qWKMEVEF7ZEi/vXxHuRB+gogKb9P4HnnJtmWXapfd9JgDrwjDET3x3HEqBzCwQkl2r7Z22DKz8TmPmLhRHxNej5a335MpIJ25bke7VA3xC8jQVeLBidcw/heWvtXSzwYsGIiI977v8tIdh5DIrIuB5zAXk/GAsNxaYxuFInPIWW1xHpEHH702OwN7Tf100/Qsy8cc41/sho4G32/Aj9IaL5jxP5H4jI2Dl3XwvBzB8aiA9pml4cOm+MmVhrjS8EIm4R8bHFy59wQkd8AkOWq7/1XUzLAAAAAElFTkSuQmCC")!important;
}

/*顯示標籤頁總數*/
#main-window {counter-reset: tabs !important;}
.tabbrowser-tab:not(:-moz-any([pinned],[concealed])) {counter-increment: tabs !important;}
#alltabs-button {visibility: visible!important;}
#alltabs-button:after {
content: counter(tabs) !important;
font-size: 13px !important;
display: -moz-box !important;
}
#alltabs-button > :-moz-any(label, image) {display: none !important;}
#alltabs-button menuitem {max-width: 200px !important;}
#alltabs-button {
margin-right: -46px!important;
}

/*彈出菜單顯示標籤頁序號*/
#alltabs-popup {counter-reset:latabs;}
#alltabs-popup .menuitem-iconic.alltabs-item.menuitem-with-favicon {counter-increment:latabs;}
#alltabs-popup .menuitem-iconic.alltabs-item.menuitem-with-favicon:before {content:counter(latabs);}
/*彈出菜單顯示關閉標籤頁序號*/
#undoCloseTabPopup .menuitem-iconic {counter-increment:menuitem;}
#undoCloseTabPopup menuitem:before {content:counter(menuitem);}

#alltabs-popup .menuitem-iconic.alltabs-item.menuitem-with-favicon:before,
#undoCloseTabPopup menuitem:before {
display:-moz-box;
-moz-box-pack:center;
font-weight:bold;
min-width:26px;
}

/*每個標籤頁 加上序號*/
.tabbrowser-tab:before {
margin: -16px 0px 0px -3px !important;
padding: 0px 0px !important;
color: black !important;
font-size: 9px !important;
font-weight: bold !important;
content: counter(tabs) !important;
position: absolute !important;
}

/*修复固定标签*/
.tab-background-middle[pinned="true"]{ min-height:26px!important;}
/*隐藏锁定标签上的序号*/
.tabbrowser-tab[pinned="true"]:before
{
margin: -40px 0px 0px -3px !important;
}