/*+++2017.02.27+++*/

/* Textareas - Resize always */
html textarea {
	resize: both !important;
}

/*清除网页干扰码*/
body {
	-o-user-select: element !important;
}

SPAN.fw,/*国学网*/
font.jammer,
font[style*="font-size: 0px;"] {
	display: none !important
}


/* 阻止<blink>标签带来的闪烁 */
blink, .blink, *[style*="blink"] {
	text-decoration: inherit !important;
}

/*显示丢失图片*/
@-moz-document url-prefix(http), url-prefix(https), url-prefix(file) {
	img {
		font: 12px Arial!important;
	}

	img:-moz-broken {
		-moz-force-broken-image-icon: 1 !important;
		width: 48px;
		height: 24px;
	}
}

/*图片经过外发光*/
img:hover {
	box-shadow: 0px 0px 4px 4px rgba(130,190,10,0.6) !important;
	-moz-transition-property: box-shadow;
	-moz-transition-duration: .31s;
}

img {
	-moz-transition-property: box-shadow;
	-moz-transition-duration: .31s;
}
