/*+++2015.07.02 15:00+++*/

/*文本选中样式（黑底+绿字）*/
*::-moz-selection {
/* the background color of the highlight */
background: #333333 !important;
/* the color of the text within the highlight */
color: #00FF00 !important;
}

/*改变已阅读链接字体样式*/
@-moz-document
url-prefix("http"),url-prefix("https"),url-prefix("file") {
a:visited, a:visited *, a:active, a:active * {
color: rgb(130,130,130) !important;
 /*灰色*/;
}
}

/*超链接字体颜色渐变*/
a:hover,a:hover em,a>font:hover,b>font:hover,a:hover *,button[type="submit"]:hover *,label:hover {
transition-property: color,text-shadow!important;
transition-duration: 0.423s!important;
transition-timing-function: ease!important;
color: rgba(255,200,0,60)!important;
text-shadow: 0 1px rgba(242,33,49,60),0 1px 1px rgba(242,33,49,60),0 -1px 1px rgba(242,33,49,60),
1px 0 1px rgba(242,33,49,60),-1px 0 1px rgba(242,33,49,60),0 0 3px rgba(242,33,49,60)!important;
}

/*tooltip
tooltip,tooltiptext {
    -moz-appearance: none !important;
    background: white !important;
    opacity: 0.9 !important;
    border: 1px solid #55BBEC !important;
    border-radius: 0px !important;
}
tooltip label,tooltiptext label {
    color: #FF9900 !important;
    border-radius: 3px !important;
}
tooltip,tooltiptext *{font-family:sitka text,Microsoft Yahei !important;}*/

/*TXT Viewer*/
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document regexp(".*\.(t|T)(x|X)(t|T)"){

/*报纸版*/
html > body:not([bgcolor]){
background-color:#f3f2ee !important;
}

html > body:not([bgcolor]) > pre{
width:55% !important;
margin:40px auto !important;
padding:25px !important;
white-space:pre-wrap !important;
word-wrap:break-word !important;
font-size:14px !important;
color:#1f0909 !important;
line-height:25px !important;
}
}


/*黑夜版*/
/*html > body:not([bgcolor]){
background-color:#2d2d2d !important;
}

html > body:not([bgcolor]) > pre{
width:65% !important;
margin:40px auto !important;
padding:25px !important;
white-space:pre-wrap !important;
word-wrap:break-word !important;
font-size:14px !important;
color:#e3e3e3 !important;
line-height:25px !important;
}*/

/*查看源代碼字體美化*/
@charset "utf-8";
@-moz-document url-prefix(view-source:){

*|*:root {
	background: #272822 !important;
}
*::-moz-selection {
	background-color:#49483E;
}
body {
	font: 12px Monaco, -moz-fixed !important;
	margin: 0;
	padding: 0.6em 1em;
	color: #FCFFE0 !important;
}
.doctype, .start-tag, .end-tag {
color: #06cfcf !important;
}
.attribute-name {
color: #a0a0f0 !important;
font-weight: normal !important;
}
.attribute-value {
color: white !important;
}
.comment, .cdata, .pi {
color: green !important;
}
.error, .error > .start-tag, .error > .end-tag,
.error > .comment, .error > .cdata, .error > .doctype,
.error > .pi, .error > .entity, .error > .attribute-name,
.error > .attribute-value {
color: red !important;
background: #fff !important;
font-weight: bold !important;
}
a:link {
color: #8fa3ff !important;
}
}