/*+++2015.12.04+++*/

/*去干扰码*/
FONT.jammer {
display: none !important;
}

SPAN.fw {
display: none !important;
}/*国学网*/

/* 阻止<blink>标签带来的闪烁 */
blink, .blink, *[style*="blink"] {
text-decoration: inherit !important;
}

/*显示丢失图片*/
@-moz-document url-prefix(http), url-prefix(https), url-prefix(file) {
img{font: 12px Arial!important;}
img:-moz-broken{-moz-force-broken-image-icon: 1 !important; width: 48px; height: 24px;}
}

/*图片经过外发光*/
img:hover {
box-shadow: 0px 0px 4px 4px rgba(130,190,10,0.6) !important;
-moz-transition-property: box-shadow;
-moz-transition-duration: .31s;
}

img {
-moz-transition-property: box-shadow;
-moz-transition-duration: .31s;
}

/*鼠标悬停时，给所有超链接加上下划线*/
@-moz-document url-prefix("http"){
a,a>font,b>font,a *,button[type="submit"] *,label{text-decoration:none!important;}
a:hover,a>font:hover,b>font:hover,a:hover *,button[type="submit"]:hover *,label:hover{text-decoration:underline!important;}
}