/*+++ 2015.08.14 +++*/

/*文本选中样式（黑底+绿字）*/
*::-moz-selection {
/* the background color of the highlight */
background: #333333 !important;
/* the color of the text within the highlight */
color: #00FF00 !important;
}

/*改变已阅读链接字体样式*/
@-moz-document
url-prefix("http"),url-prefix("https"),url-prefix("file") {
a:visited, a:visited *, a:active, a:active * {
color: rgb(130,130,130) !important; /*灰色*/
}
}

/*超链接字体颜色渐变*/
a:hover,a:hover em,a>font:hover,b>font:hover,a:hover *,button[type="submit"]:hover *,label:hover {
transition-property: color,text-shadow!important;
transition-duration: 0.423s!important;
transition-timing-function: ease!important;
color: rgba(255,200,0,60)!important;
text-shadow: 0 1px rgba(242,33,49,60),0 1px 1px rgba(242,33,49,60),0 -1px 1px rgba(242,33,49,60),
1px 0 1px rgba(242,33,49,60),-1px 0 1px rgba(242,33,49,60),0 0 3px rgba(242,33,49,60)!important;
}

