/*----------------------青色------------------------------*/
:-moz-any(menuitem,menu):not(:-moz-any([oncommand^="event.stopPropagation(); ThemeSwitch"])):nth-child(6n+1)>.menu-iconic-left>.menu-iconic-icon{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.38 0.3 0.3 0.0 0.1 \
    0.3 0.38 0.3 0.0 0.28 \
    0.3 0.3 0.38 0.0 0.0 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
}
/*--------------------紫色---------------------------*/
:-moz-any(menuitem,menu):not(:-moz-any([oncommand^="event.stopPropagation(); ThemeSwitch"])):nth-child(6n+2)>.menu-iconic-left>.menu-iconic-icon{
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.38 0.3 0.3 0.0 0.0 \
    0.3 0.38 0.3 0.0 0.0 \
    0.3 0.3 0.38 0.0 0.3 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
}
/*--------------------------红色----------------------------*/
:-moz-any(menuitem,menu):not(:-moz-any([oncommand^="event.stopPropagation(); ThemeSwitch"])):nth-child(6n+3)>.menu-iconic-left>.menu-iconic-icon{   
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.38 0.3 0.3 0.0 0.4 \
    0.3 0.38 0.3 0.0 0.0 \
    0.3 0.3 0.38 0.0 0.0 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
}
/*--------------------蓝色-----------------------------------*/
:-moz-any(menuitem,menu):not(:-moz-any([oncommand^="event.stopPropagation(); ThemeSwitch"])):nth-child(6n+4)>.menu-iconic-left>.menu-iconic-icon{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.38 0.3 0.3 0.0 0.0 \
    0.3 0.38 0.3 0.0 0.07 \
    0.3 0.3 0.38 0.0 0.3 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
}
/*------------------------碧绿色----------------------------------*/
:-moz-any(menuitem,menu):not(:-moz-any([oncommand^="event.stopPropagation(); ThemeSwitch"])):nth-child(6n+5)>.menu-iconic-left>.menu-iconic-icon{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.38 0.3 0.3 0.0 0.0 \
    0.3 0.38 0.3 0.0 0.3 \
    0.3 0.3 0.38 0.0 0.3 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
}
/*-----------------------棕色-------------------------------------*/
:-moz-any(menuitem,menu):not(:-moz-any([oncommand^="event.stopPropagation(); ThemeSwitch"])):nth-child(6n+6)>.menu-iconic-left>.menu-iconic-icon{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.38 0.3 0.3 0.0 0.4 \
    0.3 0.38 0.3 0.0 0.1 \
    0.3 0.3 0.38 0.0 0.0 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
}