/*+++2015.07.06 22:00+++*/

/*地址栏图标排序*/
#bookmarks-menu-button {-moz-box-ordinal-group: 1 !important;}
#flashgot-media-tbb {-moz-box-ordinal-group: 2 !important;}
#lpt_lastpass-compact-btn {-moz-box-ordinal-group: 3 !important;}
#aup-toolbarbutton {-moz-box-ordinal-group: 4 !important;}
#ucjsPermission_Toolmenu {-moz-box-ordinal-group: 5 !important;}
#RPBT-icon {-moz-box-ordinal-group: 6 !important;}
#abp-toolbarbutton {-moz-box-ordinal-group: 7 !important;}
#pocket-button {-moz-box-ordinal-group: 8 !important;}
#greasemonkey-tbb {-moz-box-ordinal-group: 9 !important;}
#userChromebtnMenu {-moz-box-ordinal-group: 10 !important;}

/*图标对齐*/
#AutoClick-enable-menuitem {
padding: 0px !important;
margin-left: 2px !important;
}

/*調整圖標邊框——方法1*/
#PanelUI-menu-button >image,/*三道杠圖標*/
#back-button >image, 
#forward-button >image, 
#abp-toolbarbutton >image, 
#ublock-button >image, 
#flashgot-media-tbb >image, 
#lpt_lastpass-compact-btn > image, 
#greasemonkey-tbb > image, 
#stylish-toolbar-button >image, 
#userChromebtnMenu >image 
{padding: 0px !important;}

/*調整圖標邊框——方法2*/
#ublock-button .toolbarbutton-badge-container {padding: 0px !important;}

/*調整圖標邊框——方法3*/
#downloads-button .toolbarbutton-icon,
#foxyproxy-toolbar-icon .toolbarbutton-icon 
{padding: 0px !important;}

/*ucjsPermission圖標距離調整（两句要同時用）*/
toolbarbutton#ucjsPermission_Toolmenu,toolbarbutton#ucjsPermission_Toolmenu>image {padding: 0px !important;margin:0px !important;}

/*Lastpass圖標距離調整（两句要同時用）*/
toolbarbutton#lpt_lastpass-compact-btn,toolbarbutton#lpt_lastpass-compact-btn>image {padding: 0px !important;margin:0px !important;}

/*五角星書籤圖標邊框及左右距離*/
#bookmarks-menu-button>.toolbarbutton-menubutton-button{
margin-left: -6px !important;
margin-right: -6px !important;
}

/*附加组件调序*/
#category-extension {-moz-box-ordinal-group: 0 !important;}/*扩展*/
#category-greasemonkey-user-script {-moz-box-ordinal-group: 1 !important;}/*GM脚本*/
#category-userchromejs {-moz-box-ordinal-group: 2 !important;}/*UC脚本*/
#category-userstyle {-moz-box-ordinal-group: 3 !important;}/*Stylish样式*/
#category-plugin {-moz-box-ordinal-group: 4 !important;}/*Plugins*/
#category-theme {-moz-box-ordinal-group: 5 !important;}/*外观主题*/

/*標簽右鍵菜單調序*/
#context_undoCloseTab {-moz-box-ordinal-group: 0 !important;}
#context_reloadAllTabs {-moz-box-ordinal-group: 2 !important;}
#context_closeOtherTabs {-moz-box-ordinal-group: 3 !important;}

/*粘贴并转到、搜索置顶*/
.urlbar-textbox-container menuitem[anonid="paste-and-go"]/*:not([disabled="true"])*/ {
-moz-box-ordinal-group: 0 !important;
}

.searchbar-textbox menuitem[anonid="paste-and-search"] {
-moz-box-ordinal-group: 0 !important;
}

#context-pasteandgo-forms {
-moz-box-ordinal-group: 0 !important;
}

/*幾個qrCreator菜單順序靠後*/
#FeiRuoMouse_QRCreator,[label="生成QR码 : 选区文本"],[label="生成QR码 : 当前网址"],[label="生成QR码 : 图象地址"],[label="生成QR码 : 链接地址"] {-moz-box-ordinal-group: 5 !important;}
