/*+++ 2015.11.26 +++*/

/*==============以下为“界面”的隐藏==============*/
/*===導航欄，地址欄&工具欄===*/
#toggle-button--redirectoreinaregilssoncom-redirector,/*redirector擴展*/
#PanelUI-fxa-avatar,/*FX41下SimpleWhite三道杠多出来的按钮*/
#pocket-button,/*Pocket*/
#abp-menuitem,/*ABP*/
#aup-menuitem,/*AutoProxy*/
#gm_general_menu,/*GreaseMonkey*/
#identity-icon-labels, 
#identity-popup,
#reader-mode-button,/*閱讀模式按钮*/
#panic-button,/*忘記某些歷史*/
#downloadsListBox,/*下載框彈窗*/
#PlacesChevron,/*书签工具栏产生的箭头*/
#nav-bar-overflow-button {
display: none !important;
}

/*==============以下为“页面”的隐藏==============*/
/*全局去掉分隔线*/
/*menuseparator
{display: none !important;}*/

/*===隐藏页面右键菜单===*/ 
#context-shareselect,/*分享选中项目*/
#context-shareimage,/*分享此图片*/
#context-sharelink,/*分享此鏈接*/
#context-sharepage,#social-share-button,/*分享此頁面*/
#context-navigation,
#context-sep-navigation,
#context-forward, /*前进*/
#context-back, /*后退*/
#context-reload, /*刷新*/
#context-stop, /*停止*/
#context-delete, /*停止*/
#context-sep-stop, /*停止下面的分割线*/
#context-savepage,/*网页另存为*/
#context-bookmarkpage, /*此页面加入书签*/
#context-sendlink, /*发送链接到*/
#context-sendpage, /*发送页面链接到*/
#context-sep-copyimage, /*复制图片下面的分割线*/
#context-sendimage, /*发送图片到*/
#context-setDesktopBackground, /*设置为桌面背景*/
#context-reloadimage, /*重新载入图片*/
#context-blockimage, /*阻止图片*/
#context-viewbgimage, /*查看背景图片*/
#context-savelink, /*链接另存为*/
#context-openlink, /*在新窗口打开链接*/
#context-openlinkprivate, /*在新的隐私浏览窗口打开链接*/
#context-openselectedlinksintab,/*在新标签页中打开选中的链接*/
#context-sep-open, /*打开新窗口下面的分割线*/
#context-bookmarklink, /*此链接加入书签*/
#context-selectall,/*全选*/
#context-sep-selectall, /*全选下面的分割线*/
#spell-check-enabled, /*拼写检查*/
#spell-separator, /*拼写检查分割线*/
#inspect-separator, /*Inspect Element分割线*/
#greasemonkey-install-sep, /*Greasemonkey安装脚本分割线*/
#context-sep-viewbgimage,/*分割線*/
#context-sep-viewsource, /*分割線*/
#context-inspect,/*Inspect Element*/
#context-searchselect,/*Context Search*/
#context-openlinkincurrent,/*打开链接*/
#context-savelinktopocket,/*發送鏈接至Pocket*/
#context-pocket,/*發送頁面到Pocket*/
#context-copyimage,/*複製圖片地址*/
#context-openlinkintab,/*用新分頁開啟鏈結*/
#context-copylink,/*複製鏈結網址*/
#spell-add-dictionaries-main/*新增字典*/ {
display: none !important;
}

/*===标签栏右键菜单===*/
#context_closeTab,/*關閉標籤頁*/
#alltabs_undoCloseTab,/*復原已關閉分頁*/
#context_pinTab,/*锁定标签*/
#context_unpinTab,/*取消锁定标签*/
#toolbar-context-reloadAllTabs,/*重新載入所有分頁*/
#toolbar-context-bookmarkAllTabs,/*將所有分頁加入書籤*/
#toolbar-context-undoCloseTab,/*復原已關閉分頁*/
#context_undoCloseTab,/*復原已關閉分頁*/
#context_openNonRemoteWindow,
#context_reloadAllTabs,/*重新載入所有分頁*/
#tabContextMenu > menuseparator,/*全部分割线*/
#context_openTabInWindow,/*移动到新窗口*/
#context_bookmarkAllTabs,/*将全部标签页加为书签*/
#menu_restoreAllTabs/*还原所有标签页*/ {
display: none !important;
}

/*隐藏项 - 书签右键*/
#menu_unsortedBookmarks,#bookmarksMenuItemsSeparator,/*未分类书签*/
#placesContext_editSeparator,.hide-if-empty-places-result,#placesContext_sortSeparator,[class="bookmarks-actions-menuseparator"],#placesContext_openSeparator,#placesContext_deleteSeparator,/*分隔符*/
[id="placesContext_open:newtab"], /*在标签页中打开*/
[id="placesContext_open:newwindow"], /*在窗口中打开*/
[id="placesContext_new:separator"], /*新建分割条*/
[id="placesContext_sortBy:name"], /*按名称排序*/
#placesContext_open,/*打开*/
#placesContext_cut,/*剪切*/
#placesContext_paste/*粘贴*/ {
display: none !important;
}

/*隐藏项 - 地址栏右键*/
#urlbar menuitem[cmd="cmd_undo"],
#urlbar menuitem[cmd="cmd_cut"],
#urlbar menuitem[cmd="cmd_delete"] {
display: none !important;
}

/*隐藏项 - 搜索栏右键*/
#searchbar menuitem[cmd="cmd_undo"],
#searchbar menuitem[cmd="cmd_delete"]
{
display: none !important;
}

/*隐藏项 - 书签编辑右键*/
[class="openintabs-menuitem"],/*在标签页中打开书签组*/
[id="placesContext_open:newprivatewindow"],/*用新隱私視窗開啟*/
[id="placesContext_openContainer:tabs"],/*在标签页中打开书签组*/
#copyBookmark_copyTitle,/*複製標題*/
#placesContext_ExportHTMLFolderSep,
#editBookmarkPanelContent menuitem[label="復原"],
#editBookmarkPanelContent menuitem[label="剪下"],
#editBookmarkPanelContent menuitem[label="複製"],
#editBookmarkPanelContent menuitem[label="刪除"],
#editBookmarkPanelContent menuitem[label="撤销"],
#editBookmarkPanelContent menuitem[label="剪切"],
#editBookmarkPanelContent menuitem[label="复制"],
#editBookmarkPanelContent menuitem[label="删除"],
#editBookmarkPanelContent menuitem[label="Undo"],
#editBookmarkPanelContent menuitem[label="Cut"],
#editBookmarkPanelContent menuitem[label="Copy"],
#editBookmarkPanelContent menuitem[label="Delete"] {
display: none !important;
}

/*隐藏项 - 输入框右键*/
#context-sep-paste,#context-sep-undo,/*分隔条*/
#spell-dictionaries,/*语言-添加字典*/
#context-undo,/*撤销*/
#context-cut,/*剪切*/
[label="復原"],
[label="剪下"],
#context-keywordfield/*为此搜索添加关键字*/ {
display: none !important;
}

/*Dom Inspector右键*/
#mnEditCut/*剪下*/ {
display: none !important;
}

/*隐藏项 — 附加组件*/
#category-discover,/*获取附加组件*/
#category-service/*服务*/ {
display: none !important;
}

/*隐藏项 — 下载*/
[class="downloadRemoveFromHistoryMenuItem"]/*从历史记录中移除*/ {
display: none !important;
}

/*===================扩展和脚本的图标======================*/
/*隐藏页面右键菜单*/
#foxyproxy-contextmenu-icon,
#contentAreaContextMenu > .abp-contextmenuitem,/*屏蔽ABP右鍵菜單*/
#wordhighlight-toolbar-highlight/*隐藏wordhighlight右鍵菜單*/ {
display: none !important;
}

/*LastPass菜单*/
[label="分享"],/*Lastpass密碼庫分享*/
#lpt_separator3000,#lpt_menudelim,#lpt_menudelim2,#menudelim2,#separator3000,/*分隔条*/
#lpt_menu_search_box,/*搜索密码库*/
#lpt_lpfillformsmenu1,/*表单填写*/
#lpt_lpgenpw,/*生成安全密码*/
#lpt_comp-bar-securenotes,/*安全笔记*/
#lpt_comp-bar-recentlyused,/*最近使用*/
#lpt_lphelp,/*帮助*/
#lpt_lppremium, /*升至高级版*/
#lpt_comp-bar-tools,/*工具*/
[label="Copy Username"],[label="复制用户名"],[label="複製使用者名稱"],
[label="Copy Password"],[label="复制密码"],[label="複製密碼"],
[label="Copy URL"],[label="复制网址"],[label="複製網址"],
[label="Go to URL"],[label="转到网址"],[label="轉到網址"] {
display: none !important;
}

/*UserScriptLoader*/
#UserScriptLoader-delete-pref,
#UserScriptLoader-delete-info,
[label="网站..."],
#UserScriptLoader-check-script,
#UserScriptLoader-find-script {
display: none !important;
}

/*UserCSSLoader*/
[label="userChrome.css"],
[label="userContent.css"],
[label="新建用戶 css 樣式 (外部編輯器)"],
[label="新建瀏覽器樣式 (Chrome)"],
[label="新建當前網頁樣式 (Web)"],
[label="在userstyles.org檢索當前網頁樣式"] {
display: none !important;
}

/*ABP菜单项*/
#abp-menuitem-sendReport,/*报告该页面上的问题*/
#abp-menuitem-openbottombar/*打开可过滤项目*/ {
display: none !important;
}

/*FlashGot菜單項*/
#flashgot-main-sep-buildGallery,/*分割线*/
#flashgot-menuitem-media,/*Flashgot此Media*/
#flashgot-main-menuitem-sel,/*使用 FlashGot 下载所选链接*/
#flashgot-main-menuitem-all,/*使用 FlashGot 下载全部链接*/
#flashgot-main-menuitem-tabs,/*使用 FlashGot 下载标签页组*/
#flashgot-main-menuitem-media,/*FlashGot 此媒体*/
#flashgot-main-menuitem-buildGallery/*建立图库*/
{
display: none !important;
}


/*其它擴展/腳本隱藏項*/
#exex-menu,/*EXExceptions右鍵菜單*/
#tooldonate,/*DTA捐助*/
#userChromejs_menuseparator,
#showFlagS-sepalator2,/*ShowFlagS分割线*/
#loop-button,/*Start Conversion*/
#greasemonkey-view-userscript,/*GreaseMonkey检视腳本原始碼*/
#loop-button-throttled,/*Loop通話*/
#feed-button,/*分享此頁*/
#blockElement,/*uBlock右鍵菜單*/
#snaplinksMenuEntry,
#SnapLinksCopyLinks,
#SnapLinksCopyLinksReverse,
#SnapLinksCopyLinksAndTitlesMD,
#SnapLinksCopyLinksAndTitlesBBS,
#SnapLinksCopyLinksRegExp,
#SnapLinksCopyLinksSetFormat,
[label="生成二维码 : 链接地址"],
[label="生成二维码 : 图象地址"],
[label="生成二维码 : 选区文本"],
[label="生成QR码 : 链接地址"],
[label="生成QR码 : 选区文本"]
{
display: none !important;
}
