/*+++ 2016.06.05 +++*/

/*Aidbar排序*/
#flashgot-media-tbb {-moz-box-ordinal-group: 1 !important;}/*FlashGot扩展*/
#ucjsPermission_Toolmenu {-moz-box-ordinal-group: 2 !important;}/*ucjsPermission腳本*/
#ublock0-button {-moz-box-ordinal-group: 2 !important;}/*UBO扩展*/
#UserScriptLoader-icon {-moz-box-ordinal-group: 3 !important;}/*GM脚本版*/
#aup-toolbarbutton {-moz-box-ordinal-group: 4 !important;}/*Autoproxy擴展*/
#lpt_lastpass-compact-btn {-moz-box-ordinal-group: 5 !important;}/*Lastpass扩展*/
#userChromebtnMenu {-moz-box-ordinal-group: 9 !important;}/*UC管理器*/
#userChromeJsManagerMenuBtn {-moz-box-ordinal-group: 9 !important;}/*UC管理器*/

/*Lastpass添加站点调序*/
menuitem[label="添加站点"] {-moz-box-ordinal-group: 0 !important;}

/*附加组件调序*/
#category-extension {-moz-box-ordinal-group: 0 !important;}/*扩展*/
#category-greasemonkey-user-script {-moz-box-ordinal-group: 1 !important;}/*GM脚本*/
#category-userchromejs {-moz-box-ordinal-group: 2 !important;}/*UC脚本*/
#category-userstyle {-moz-box-ordinal-group: 3 !important;}/*Stylish样式*/
#category-plugin {-moz-box-ordinal-group: 4 !important;}/*Plugins*/
#category-theme {-moz-box-ordinal-group: 5 !important;}/*外观主题*/

/*粘貼/粘貼並轉到置顶*/
.urlbar-textbox-container menuitem[anonid="paste-and-go"]/*:not([disabled="true"])*/ {
-moz-box-ordinal-group: 0 !important;
}
.urlbar-textbox-container menuitem[cmd="cmd_paste"]/*:not([disabled="true"])*/ {
-moz-box-ordinal-group: 1 !important;
}

/*粘貼/粘貼並搜索置顶*/
.searchbar-textbox menuitem[anonid="paste-and-search"] {
-moz-box-ordinal-group: 0 !important;
}
.searchbar-textbox menuitem[cmd="cmd_paste"] {
-moz-box-ordinal-group: 1 !important;
}

/*右键菜单子目录小三角距離*/
.menu-accel-container{margin-right:-16px!important;}

/*去图标外壳遮罩、点击动画*/
#anobtn,
#userChromebtnMenu,
#ucjsPermission_Toolmenu,
#lpt_lastpass-compact-btn{
padding: 0 !important;
margin: 0 !important;
-moz-appearance: none !important;
background: none !important;
border: none !important;
border-radius: 0 !important;
box-shadow: none !important;
outline: none !important;
background-color: transparent !important;
}

/*去除五角星图标点击动画*/
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:hover > .toolbarbutton-icon{
background-color: transparent !important;
box-shadow: none !important;
}

/*去除点击时边框*/
:focus {outline: none !important}

/*去除按钮点击的默认样式*/
:root {
	--toolbarbutton-hover-background: rgba(0,0,0,0) !important;
	--toolbarbutton-hover-bordercolor: rgba(0,0,0,0) !important;
	--toolbarbutton-hover-boxshadow: none !important;
	--toolbarbutton-active-background: rgba(0,0,0,0) !important;
	--toolbarbutton-active-bordercolor: rgba(0,0,0,0) !important;
	--toolbarbutton-active-boxshadow: 0 0 0 0px rgba(0,0,0,0) inset !important;
	--toolbarbutton-checkedhover-backgroundcolor: rgba(0,0,0,0) !important;
}

#UserScriptLoader-icon {
padding:0px !important;
}

/*調整圖標邊框——方法1*/
toolbarbutton#umatrix-button,toolbarbutton#umatrix-button>image
{padding: 0px !important;
margin-right:-4px !important;
}