@namespace url(http://www.w3.org/1999/xhtml);
object[classid*=":D27CDB6E-AE6D-11cf-96B8-444553540000"],
object[codebase*="swflash.cab"],
object[data*=".swf"],
embed[type="application/x-shockwave-flash"],
embed[src*=".swf"],
object[type="application/x-shockwave-flash"],
object[src*=".swf"] {
    -moz-binding: url("data:application/xml,\
<?xml version='1.0' encoding='UTF-8'?>\%0A\
<bindings xmlns='http://www.mozilla.org/xbl'>\%0A\
    <!-- Flash Block Lite -->\%0A\
        <binding id='flashBlockLite' bindToUntrustedContent='true'>\%0A\
            <implementation>\%0A\
                <constructor><![CDATA[\%0A\
                const DOC_WHITELIST = [\%0A\
                'http://tieba.baidu.com/*',\%0A\
                ];\%0A\
                const FLASH_WHITELIST = [\%0A\
            'http://js.tudouui.com/bin/lingtong/portalplayer_193.swf',\%0A\
	    'http://player.youku.com/player.php/*.swf',\%0A\
	    'http://player.pplive.cn/ikan/*/*.swf',\%0A\
            'http://pan.baidu.com/yun-static/common/thirdparty/*.swf*',\%0A\
            'http://*/player/mukioplayerplus.swf',\%0A\
                ];\%0A\
                const MIN_SIZE_LIMIT = {\%0A\
                        'width'  : 16,\%0A\
                        'height' : 16\%0A\
                };\%0A\
                const FLAG_NAME = 'flash-blocked';\%0A\
                var win = window,\%0A\
                        doc = win.document,\%0A\
                        docBody = doc.body,\%0A\
                        flashObj = this;\%0A\
                var createPattern = function (urlArr) {\%0A\
                        return urlArr.map(function(url) {\%0A\
                            url = url.toLowerCase().trim();\%0A\
                            url = url.replace(/([()[\\]{}|+.,^$?\\\\])/g, '\\\\$1');\%0A\
                            url = url.replace(/\\*+/g, '.*');\%0A\
                            url = url.replace(/^\\.\\*\\:?\\/\\//, 'https?://');\%0A\
                            url = url.replace(/^\\.\\*/, 'https?:.*');\%0A\
                            return '^' + url + '$';\%0A\
                        }).join('|');\%0A\
                };\%0A\
                if (docBody.hasAttribute(FLAG_NAME)) {\%0A\
                        // it's in the whitelist\%0A\
                        if ('false' === docBody.getAttribute(FLAG_NAME)) {\%0A\
                                return;\%0A\
                        }\%0A\
                } else {\%0A\
                        if (DOC_WHITELIST.length) {\%0A\
                                let whiteListPattern = createPattern(DOC_WHITELIST);\%0A\
                                let isInWhiteList = (new RegExp(whiteListPattern)).test(doc.URL);\%0A\
                                docBody.setAttribute(FLAG_NAME, isInWhiteList ? 'false' : 'true');\%0A\
                                if (isInWhiteList) {\%0A\
                                        return;\%0A\
                                }\%0A\
                        }\%0A\
                }\%0A\
                if (flashObj.hasAttribute(FLAG_NAME)) {\%0A\
                        return;\%0A\
                }\%0A\
                var realFlashObj = null;\%0A\
                if (realFlashObj = flashObj.querySelector('object,embed')) {\%0A\
                        flashObj.parentNode.replaceChild(realFlashObj, flashObj);\%0A\
                        flashObj = null;\%0A\
                        return;\%0A\
                }\%0A\
                realFlashObj = null;\%0A\
                let getFlashObjUrl = function () {\%0A\
                        let flashUrl = '',\%0A\
                                flashTagName = flashObj.tagName.toLowerCase();\%0A\
                        switch (true) {\%0A\
                                case 'object' === flashTagName && 'data' in flashObj:\%0A\
                                        flashUrl = flashObj.data;\%0A\
                                        break;\%0A\
                                case 'embed' === flashTagName && 'src' in flashObj:\%0A\
                                        flashUrl = flashObj.src;\%0A\
                                        break;\%0A\
                                defalt:\%0A\
                                        return flashUrl;\%0A\
                        }\%0A\
                        return flashUrl.toLowerCase().trim();\%0A\
                };\%0A\
                if (FLASH_WHITELIST.length) {\%0A\
                        let flashUrl = getFlashObjUrl();\%0A\
                        if (flashUrl) {\%0A\
                                let whiteListPattern = createPattern(FLASH_WHITELIST);\%0A\
                                let isInWhiteList = (new RegExp(whiteListPattern)).test(flashUrl);\%0A\
                                if (isInWhiteList) {\%0A\
                                        return;\%0A\
                                }\%0A\
                        }\%0A\
                }\%0A\
                var getWH = function (attr) {\%0A\
                        let val = flashObj['offset' + ('width' === attr ? 'Width' : 'Height')],\%0A\
                                unit = 'px';\%0A\
                        if (0 === val) {\%0A\
                                val = win.getComputedStyle(flashObj, null)['width'];\%0A\
                                -1 < val.indexOf('px') && MIN_SIZE_LIMIT[attr] > parseInt(val, 10) && (val = MIN_SIZE_LIMIT[attr] + unit);\%0A\
                        } else {\%0A\
                                MIN_SIZE_LIMIT[attr] > val && (val = MIN_SIZE_LIMIT[attr]);\%0A\
                                val = val.toString() + unit;\%0A\
                        }\%0A\
                        return val;\%0A\
                };\%0A\
                var flashW = getWH('width'),\%0A\
                        flashH = getWH('height');\%0A\
                var isBgShrunken = false;\%0A\
                if ((-1 < flashH.indexOf('px') && 86 > parseInt(flashH, 10)) || (-1 < flashW.indexOf('px') && 86 > parseInt(flashW, 10))) {\%0A\
                        isBgShrunken = true;\%0A\
                }\%0A\
                (function(flashObj){\%0A\
    var mode = 'gpu';\%0A\
    flashObj.setAttribute('fa-mark-test','1')\%0A\
    switch (flashObj.tagName){\%0A\
        case 'OBJECT':\%0A\
            var param = flashObj.querySelector('[name=\"wmode\"],[name=\"wMode\"]') || document.createElement('param');\%0A\
            param.name = 'wmode';\%0A\
            param.value = mode;\%0A\
            if(param && !param.parentElement){\%0A\
                flashObj.appendChild(param);\%0A\
            }\%0A\
            break;\%0A\
        case 'EMBED':\%0A\
            flashObj.setAttribute('wmode',mode);\%0A\
            break;\%0A\
    }\%0A\
    flashObj.setAttribute('fa-sign','1')\%0A\
})(this);\%0A\
                var styleOrg = flashObj.style.display;\%0A\
                flashObj.style.display = 'none';\%0A\
                var placeHolder = doc.createElement('flash-block');\%0A\
                flashObj.parentNode.insertBefore(placeHolder, flashObj);\%0A\
                placeHolder.title = '点击按钮激活flash\\nCtrl + 点击显示flash地址';\%0A\
                placeHolder.style.cssText = 'display: inline-block; overflow: hidden; text-align: center; cursor: pointer; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAABWCAMAAABiiJHFAAAAb1BMVEX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F92dnZaWlpUVFQzMzMpKSkWFhYFBQUAAAD%2F%2F%2F%2B%2Bvr6zs7OqqqqhoaGGhob%2F%2F%2F%2Fe3t7V1dXMzMzFxcX%2F%2F%2F%2Fv7%2B%2Fe3t7%2F%2F%2F%2F4%2BPj%2F%2F%2F%2F4%2BPj%2F%2F%2F%2F%2F%2F%2F8SNl5AAAAAJHRSTlMAESIzRFVmd4iIiIiIiIiIiJmZmZmZmaqqqqqqu7u7zMzd3e5%2FRnThAAACf0lEQVR42rVZ23aCMBBUoIpKTCjWSxEE4f%2B%2FsW5IFY4kLGlnXrwAc4bN7CbZLBZMLMMoCpeLf0Owjk%2FXujWor6d4HfyVM4yfhH3UcejPGaVNa0WTRl6kqwFnUxVlWVTD%2F1azST9e0bwct0IqAym2x8vr2se817%2BZ56p8p0awyytzw40fivDaPXLPEmVFkt27u67M0VuZyB2kckIeTKRZIU470nyvJrHPO%2BJ0Opm6AJRCsSDKLhAT6RfoQa63io1t94Qz8SL9UpVQMyC0KRqHIyL9RmepZkGe9WNW3kBrzdRsZFqvJQ5LilKzUR7YkKB6fNy0B7xYH7zaD1a%2FZsoTmcW%2FOrfOyhvn0XwLtbOkP63UPgtHAluP%2BPXzi%2B3f%2Bj282rFjufXdFgk3397dS%2FW1VKO0bcMVTPXhNpgLyLHCQttyBQtyb3%2B%2BoLDkykrLFZzTAA3N1ewdtEzB%2B2ZgMvp1UE5anuAD3di3wV1O0LIEy3vPDKkja7%2F764IvVg6nvRgkDFqG4OQVBcrbSrFopwVXzwyOre56p50UTB6Ln6bdsWknBO9%2BrRvQF8WnnRBMImn6WT8%2BL7NonYIvj%2BtrE9rjPFqX4KMJ7slSEp20dsFUHk%2BmgIvZtFbBwhRzirH0oLUIlsYKdIPyobUIppx9LDpcOTZBOyqY8mypU7fwpR0TXOj0jWyzGI%2F2XXCpayOIFhQE0JCBDIZKB1DygkoNqDCCyjho0gFNkagJHbT8AC2WUEs70EIUtGxGLfJBWxLUBgq03UNtTkFbadTGH9SmQDVVUC0gVMMK1F5DNQNRrUtUoxXVFkY1sWEtd9QBAeo4A3b4Ajsqgh1swY7hcIeGvkecP2db4ailmvhhAAAAAElFTkSuQmCC) no-repeat scroll 50% 50% transparent; ' + (isBgShrunken ? ' -moz-background-size: contain; background-size: contain; ' : '') + 'width: ' + flashW + '; height: ' + flashH + ';';\%0A\
                placeHolder.addEventListener('click', function(evt) {\%0A\
					if ( evt.ctrlKey == true )\%0A\
					{\%0A\
						alert(getFlashObjUrl());\%0A\
					}\%0A\
					else \%0A\
					{\%0A\
                        placeHolder.removeEventListener('click', arguments.callee, false);\%0A\
                        placeHolder.parentNode.removeChild(placeHolder);\%0A\
                        flashObj.style.display = 'block';\%0A\
                        flashObj.style.display = styleOrg;\%0A\
                        flashObj.removeAttribute(FLAG_NAME);\%0A\
                        placeHolder = null;\%0A\
                        flashObj = null;\%0A\
					}\%0A\
                }, false);\%0A\
                flashObj.setAttribute(FLAG_NAME, 'true');\%0A\
            ]]></constructor>\%0A\
        </implementation>\%0A\
    </binding>\%0A\
</bindings>\
\
");
}