/*+++ 2015.08.14 +++*/

@-moz-document domain("ic.sjlpj.cn") {
#m_030201,/*产品——內网分类管理*/
#m_030205,/*产品——产品类型管理*/
#m_030207,/*产品——选项管理*/
#m_030208,/*产品——属性管理*/
#m_030209,/*产品——模板管理*/
#m_030213,/*产品——常用资料管理*/
#m_040102,/*运营——产品上架价格管理*/
#m_040103,/*运营——产品上架总体审核*/
#m_040106,/*运营——产品价格变更管理*/
#m_040107,/*运营——价格变更运营审核*/
#m_040108,/*运营——下架产品运营管理*/
#m_040110,/*运营——外网产品批量管理*/
#m_100102/*网站——TvcMall品类管理*/
{
font-weight: bold !important;
font-size:13px !important;
}
}

@-moz-document domain("tieba.baidu.com") {
/*取消吧内自动链接*/
a.ps_cb {
pointer-events: none !important;
color: #000 !important;
}

/*突出显示自己的帖子*/
LI[data-field^='{"author_name":"dupontjoy"'] {
box-shadow: 0 0 10px #222;
/*display: none !important; 隱藏某人的贴子*/;
}
}

@-moz-document domain("mercurymart.com") {
/*Mercury居中显示*/
#container .wrapInner {
overflow: inherit !important;
}

#featured {
overflow: inherit !important;
}

}

@-moz-document url("http://court.gov.cn/zgcpwsw/") {
form#feedbacksmallform>table {
position:absolute;top:2%;
}
}

@-moz-document domain("bbs.10moons.com") {
#threadlisttableid {
table-layout: inherit !important;
}
}

@-moz-document domain("520tieba.net") {
.t_fsz {
position:relative;left:-863.8px;
}
}