/*@name        iOS7 Style NewTab
  @namespace   http://www.runningcheese.com/firefox-v6
  @description 更改浏览about:newtab时的样式
  @author      runningcheese
  @version     1.00-2017.08.01
  @reference   http://www.runningcheese.com/newtabstylish-superstart by @ennea              
*/

@-moz-document url("about:newtab") {

/*2017.08.01突然整理界面下移,修正*/
#newtab-margin-top { display: none !important;}
/*图标上移,修正;感谢水木*/
.newtab-site:hover .newtab-thumbnail {
  transform: translateY(0px);
}


#newtab-vertical-margin {
background-image: url("chrome://userchromejs/content/images/newtab/bg01.png");/*背景图*/
background-color: #E8EDF1;
color: rgb(0, 0, 0);
background-color:#fafafa!important;
background-size: cover;
}    

/*方块居左*/
/*#newtab-search-container,#newtab-grid {margin-left:-250px !important; }*/

/*方块居右*/
/*#newtab-search-container,#newtab-grid {margin-right:-200px !important; }*/

/*文字颜色*/
#newtab-intro-what, .newtab-sponsored, .newtab-title {color: #111;} /*这里修改文字颜色*/
    
/*方块离上方的距离*/
#newtab-search-container { margin-top:90px;}
    
/*拨号设置*/
#newtab-customize-button {display: none !important;}
#newtab-intro-what {display: none !important;}    
.newtab-title:before,.newtab-control{display: none !important;}/*隐藏控制按钮和固定标识*/
    
/*方块圆角*/    
.newtab-site {border-radius: 30%;}
 
/*文字隐藏 */   
.newtab-title{opacity: 1!important; font-family:Tahoma,Helvetica,Arial,Microsoft Yahei, sans-serif !important; font-size:13px; background:transparent !important; bottom:-28px !important; border:none !important;}
   
/*圆角*/
.newtab-link {border-radius: 26%;}
        
/*阴影及动画*/
.newtab-cell:not([ignorehover]) > .newtab-site:hover, .newtab-site[dragged] {
    border: 0px solid #AAAAAA;
    box-shadow: 0 2px 2px 0px #FFC125;
    margin: -1px;
}

/*方块的大小及左右间距*/
#newtab-grid > .newtab-cell{
    height:70px;
    width:70px;
    margin:26px 40px;
}
/*拨号框的大小*/
#newtab-grid{
    max-width: 750px !important;
    max-height: 450px !important;
}
    
/*搜索框*/
#newtab-search-logo{-moz-margin-start: 24px;}
   
#newtab-search-text {height: 22px;-moz-margin-start: 24px;font-size:12px !important; }

#newtab-search-form {max-width: 700px;}

#newtab-search-text {
    background-color: #f2f2f4;
    border-color: #d9d9d9; 
}
#newtab-search-text:focus, #newtab-search-text[autofocus] {
    background-color: #f2f2f4;
    border-color: #d9d9d9;
}
    
#newtab-search-submit {
    height: 20px;
    background-color: #f2f2f4;
    border-color: #d9d9d9;
    background-position: 20px -3px; 
}

#newtab-search-icon, #newtab-search-submit{max-height:28px !important;}

#newtab-search-icon {
  background: url("chrome://userchromejs/content/images/icons/search.png") center center no-repeat !important;
}
#newtab-search-submit {
    background: url("chrome://userchromejs/content/images/icons/newtabgo.png") center center no-repeat !important;
}

#newtab-search-text + #newtab-search-submit:hover, #newtab-search-text + #newtab-search-submit:hover:active {
    background-position: 20px -35px;
    background-color: #f2f2f4;
    border-color: #d9d9d9;  
}
#newtab-search-text:focus + #newtab-search-submit, #newtab-search-text[autofocus] + #newtab-search-submit{
    background-color: #f2f2f4;
    border-color: #d9d9d9;  
}
    
/*图标倾斜*/
.newtab-cell {
  transform: rotateX(-0deg)!important;/*3D变形复位*/
}

/*图标阴影*/
.newtab-site{box-shadow:0 0 17px rgba(0, 0, 0, 0)!important;/*外发光*/}
   
/*输入框文本-moz-placeholder*/
#newtab-search-text::-moz-placeholder { color:transparent!important;}   
   
/*缩略图*/      
    [	href*="hbr.org"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/hbr.jpg") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="douban.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/douban.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="zhihu.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/zhihu.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="cnbeta.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/cnbeta.jpg") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="open.163.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/open163.jpg") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="economist.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/economist.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	}   
    [	href*="ft.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/ft.jpg") center center no-repeat !important;
		background-size: 100% 100%!important;
	}  
    [	href*="guokr.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/guokr.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	} 
    [	href*="wsj.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/wsj.jpg") center center no-repeat !important;
		background-size: 100% 100%!important;
	} 
    [	href*="jianshu.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/jianshu.jpg") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="youtube.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/youtube.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="yinxiang.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/evernote.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="email.163.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/mail.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	} 
    [	href*="cnn.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/cnn.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="nytimes.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/nytimes.jpg") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="kafan.cn"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/kafan.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="music.163.com/"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/music.png") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
    [	href*="docs.google.com"] .newtab-thumbnail {
		background: rgba(0, 0, 0, .05) url("chrome://userchromejs/content/images/newtab/google-sheets.jpg") center center no-repeat !important;
		background-size: 100% 100%!important;
	}
}               
