/*+++2014.11.04 22:58+++*/
/*下载弹窗大小调整*/
#unknownContentType{    
height: 340px !important;
width:450px!important;}

/*书签栏左右变窄*/
.bookmark-item > .toolbarbutton-icon {margin: 0px 0px 0px -2px !important;padding: 0px !important;}

/*Https协议地址栏变色*/
#urlbar[level="low"]{
  background-color: #FFFFB7 !important;
}
#urlbar[level="high"]{
  background-color: #DDF9CC !important;
}
#urlbar[level="broken"]{
  background-color: #F7DFDF !important;
}

/*附加组件管理器显示地址栏*/
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {
#main-window[disablechrome]
#navigator-toolbox[tabsontop="true"]
#nav-bar:not([collapsed="true"])
{visibility: visible!important;}

/*粘贴并转到、搜索置顶*/
.urlbar-textbox-container menuitem[anonid="paste-and-go"]:not([disabled="true"]) {-moz-box-ordinal-group: 0 !important;}
.searchbar-textbox menuitem[anonid="paste-and-search"]:not([disabled="true"]) {-moz-box-ordinal-group: 0 !important;}
#context-pasteandgo-forms:not([disabled="true"]) {-moz-box-ordinal-group: 0 !important;}

/*Ubuntu文件夹*/
.bookmark-item[container] {
list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAI6SURBVDhPpdPtS1NRAAbwUf/Bokx7WVAtzIkJyhDEKOpDMHAOgoG2ILG2NZsjFcViLpASIolZNltvq3B3c2HrS3Z1g7CiD0GM5bxep5F7dTl6QVoZPp1tbnfJoqADP3jOPfc8HC7n8nj/O+x2e8BqtWIth8MxYbFYNv21n2z8iTzD6/Umkmv5ym022ye9Xr8uVf6ngnylmWcURS2TkvW/FfjvtoK9pQNrbgE7qAV7g7jejOl+DRgjcVUNpk+NqcsqvLt0EpM9jQnPOXkoewJ28AyWfI+xNLUGQ+ZZTpI53vOK5WzB9IAGXz3DiD/TI04ndaeNZRhINmCRrC2OduHj00681db+yBYwxtP48mYIMWfHqk7EnqxytmNh5CwWHmkRHdYgalchQjXhtWJ/TkGfEp9f3UfUpkOUakFkSIPIQyXCD5oQvncCoTsKhG7XI2iWI2CSYf6aBM8P7/yePYGvtxFxtwnBm8cRNDUgMCDHvFGGD1eO4H3vQcz1VGPughizhkqiIsVVtZkr8HRIERu5iNnuGvi7xJhpLwfbVgq2VZTWJsJMSilZSxuv3MgVvDxajJBZB+bUbo5SCCZDRXKGmmT1HtBlG7iCF1IhAv3NmKwXcBoE8KXsgO9YDgXJBC3iJ7LfYEKyC/PkknhrC9OkOepIritKk3HoEv43HrmWYcpqTbglxSvuQwK4DmyHq2Ybxqu3YqxqC2hxEeiKQtDlBaD35SgrWBkt4fszPxufBCGx9x8l303u4f0ClcloLM0+3AIAAAAASUVORK5CYII=")!important;
-moz-image-region: rect(0px, 16px, 16px, 0px)!important;
}

/*Oos定制 —— WordHighlightToolbar & 查找栏样式*/
    #wordhighlight-toolbar-box,
    .browserContainer findbar {
    -moz-box-ordinal-group:0!important;
    position:fixed!important;
    border:1px solid #A6A6A6;
    border-top:none;
    }
    #wordhighlight-toolbar-box {
    background:#FFFFFF;
    right:0px;
    bottom:0px;/*>>>自行修改数字*/
    border:1px solid #A6A6A6;
    border-radius:0px 0px 0px 2.5px;
    padding:1px 1px 0px 0px;
    }
    .browserContainer findbar {
    box-shadow:none!important;
    background:#FFFFFF!important;
    left:0px;
    border-left:none;
    border-radius:0px 0px 2.5px 0px;
    padding:1px 2px 2px 2px;
    }
    #wordhighlight-toolbar-box *,
    .browserContainer findbar * {
    margin:0px!important;
    padding:0px!important;
    }
    .findbar-container :-moz-any(.findbar-highlight, .findbar-case-sensitive) {margin-left:1px!important;}
    .findbar-container .textbox-input::-moz-placeholder {color:blue;}
    .findbar-container label {color:green;}
    :-moz-any(.browserContainer, #viewSource) .findbar-container :-moz-any(spacer, toolbarspacer, .findbar-find-fast[anonid="match-case-status"]),
    findbar .findbar-closebutton {visibility:collapse;}
    .findbar-container .findbar-highlight {-moz-box-ordinal-group:2;}
    .findbar-container .findbar-case-sensitive {-moz-box-ordinal-group:3;}
    .findbar-container label[value="(区分大小写)"] {-moz-box-ordinal-group:4;}
    .findbar-container .findbar-find-status {-moz-box-ordinal-group:5;}

    /* Quick Find with Full Controls */
    :-moz-any(.browserContainer, #viewSource) .findbar-container > *,
    :-moz-any(.browserContainer, #viewSource) .findbar-container > *:not(spacer),
    :-moz-any(.browserContainer, #viewSource) :-moz-any(.findbar-find-previous, .findbar-find-next)
    {display:-moz-box!important;}

/*Oos定制 —— 颜色区分*/
#UserScriptLoader-popup #UserScriptLoader-menuseparator {-moz-box-ordinal-group:95!important;}
#UserScriptLoader-popup .UserScriptLoader-item[checked="true"][style="font-weight: bold;"] {
    -moz-box-ordinal-group:96!important;
    color:blue!important;
}
#UserScriptLoader-popup .UserScriptLoader-item[checked="true"] {
    -moz-box-ordinal-group:97!important;
    color:black!important;
}
#UserScriptLoader-popup .UserScriptLoader-item  {
    -moz-box-ordinal-group:98!important;
    color:red!important;
}
#redirector-menupopup .redirector-item[checked="false"],
#userChromejs_options .uc-item[checked="false"],
#userChromejs_options .userChromejs_script[checked="false"],
#usercssloader-menupopup .usercssloader-item[checked="false"],
#UserScriptLoader-popup .UserScriptLoader-item[checked="false"] {
    -moz-box-ordinal-group:99!important;
    color:gray!important;
}