/*+++2015.04.14 14:00+++*/

/*标签样式css*/
.tabbrowser-tab[busy] {color: blue !important;}/* 正在加载标签 */
.tabbrowser-tab[pending] {color: gray !important;}/* 未加载标签 */
.tabbrowser-tab[unread] {color: red !important;}/* 未读标签 */

/*有些网站无LOGO图标，加空白图标*/
.tab-icon-image:not([src]):not([pinned]) {
display: block !important;
list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

.tab-throbber:not([busy]),
.tab-throbber[busy] + .tab-icon-image:not([src]):not([pinned]) {
display: none !important;
}

/* 标签栏上下外边距设置 */
#TabsToolbar {
margin-top: -1px!important;
margin-bottom: 0px!important;
}

/*当前标签显示关闭按钮*/
.tabbrowser-tab:not([selected]) .tab-close-button{display:none!important;}/*非当前页关闭按钮自动隐藏*/
.tabbrowser-tab:not([pinned]):hover .tab-close-button{display:inherit!important;}
.tab-close-button{
list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAQBAMAAACigOGCAAAAJ1BMVEUAAAB/f3/MzMzPz8+EhITLy8vLy8vMAACkAADvKSnu7uzMzMyAgIC59IiNAAAAB3RSTlMAz9QVFczD0adS3gAAAG1JREFUGNNjIBpwdIBBA6bETDDAIjG9HAgqQRKpBsxhICFBBxZBFIloZaOtIAkZEceDIImq5VXLwRJGm7SVQRKOB2VEwBKrVkEkmLU3GYAkWGQOOoCNWrWqHKcETqNwWo7buTg9SChICAciAgAAPGZF/3McR18AAAAASUVORK5CYII=") !important;
-moz-image-region: rect(0 16px 16px 0) !important;
}
.tab-close-button[selected]{
-moz-image-region: rect(0 32px 16px 16px) !important;
}
.tab-close-button:hover{
-moz-image-region: rect(0 48px 16px 32px) !important;
}

/*顯示標籤頁總數*/
#main-window {counter-reset: tabs !important;}
.tabbrowser-tab:not(:-moz-any([pinned],[concealed])) {counter-increment: tabs !important;}
#alltabs-button {visibility: visible!important;}
#alltabs-button:after {
content: counter(tabs) !important;
font-size: 13px !important;
display: -moz-box !important;
}
#alltabs-button > :-moz-any(label, image) {display: none !important;}
#alltabs-button menuitem {max-width: 200px !important;}
#alltabs-button {
margin-right: -35px!important;
}

/*彈出菜單顯示標籤頁序號*/
#alltabs-popup {counter-reset:latabs;}
#alltabs-popup .menuitem-iconic.alltabs-item.menuitem-with-favicon {counter-increment:latabs;}
#alltabs-popup .menuitem-iconic.alltabs-item.menuitem-with-favicon:before {content:counter(latabs);}
/*彈出菜單顯示關閉標籤頁序號*/
#undoCloseTabPopup .menuitem-iconic {counter-increment:menuitem;}
#undoCloseTabPopup menuitem:before {content:counter(menuitem);}

#alltabs-popup .menuitem-iconic.alltabs-item.menuitem-with-favicon:before,
#undoCloseTabPopup menuitem:before {
display:-moz-box;
-moz-box-pack:center;
font-weight:bold;
min-width:26px;
}

/*每個標籤頁 加上序號*/
.tabbrowser-tab:before {
margin: -15px 0px 0px -3px !important;
padding: 0px 0px !important;
border-radius: 7px !important;
background-color: !important;
color: black !important;
font-size: 9px !important;
font-weight: bold !important;
content: counter(tabs) !important;
position: absolute !important;
}
tab {
counter-increment: counter !important;
}
.tab-close-button:hover::after {
display: none !important;/*悬浮于关闭按钮时不显示数字*/
}
