/*=====================================Firefox图标调整=====================================*/ 

/*前进刷新停止按钮调整*/
#urlbar-reload-button,#urlbar-go-button {
  margin-left:-2px !important;
	margin-bottom:-2px !important;
}
#urlbar-stop-button{
  margin-left:-1px !important;
	margin-bottom:-4px !important;
}


/*历史菜单选项隐藏*/
#ctraddon_history_showAllHistory,#ctraddon_history_showAllHistory+menuseparator,#ctraddon_history_recentlyClosedWindowsMenu,#ctraddon_history_recentlyClosedWindowsMenu+menuseparator,#ctraddon_history_recentlyClosedTabsMenu,#ctraddon_history_restoreLastSession,#ctraddon_history_sync-tabs,#sanitizeSeparator,#ctraddon_history_sanitizeHistory,#ctraddon_history_showAllHistory,#sanitizeSeparator {
	display:none !important;
}


/*工具栏图标倒三角下拉选项隐藏*/
.toolbarbutton-menubutton-dropmarker, .toolbarbutton-menu-dropmarker { display:none !important; }

/*显示书签选项*/
/*#bookmarks-menu-button .toolbarbutton-menubutton-dropmarker {display: block !important;}*/


/*地址栏下拉栏隐藏*/
.urlbar-history-dropmarker {
	display:none!important;
}

/*ABP菜单隐藏*/
.abp-contextmenuitem {display:none !important;}


/*隐藏页面标识*/
#page-proxy-favicon{display: none !important;}

/*隐藏打开书签组*/
.bookmarks-actions-menuseparator,.openintabs-menuitem{display:none !important;}


/*隐藏identity bar*/
#identity-icon-labels, #identity-popup {display: none!important; }


/*PanelUI直角*/
#PanelUI-mainView .toolbarbutton-1{
border:none !important;
border-radius: 0px !important;
}

/*PanelUI分享按钮不透明*/
#PanelUI-mainView #social-share-button .toolbarbutton-icon, #PanelUI-mainView #social-share-button .toolbarbutton-text{opacity: 1 !important;}


/*书签文件夹下拉过长显示滚动条 Show ScrollBar On Bookmark Folder*/
@-moz-document url(chrome://browser/content/browser.xul) {
	.bookmark-item[container="true"]  scrollbox {
	overflow-y:auto !important;
}
}

/*在添加到书签对话框中加入关键词选项*/
#editBMPanel_locationRow,#editBMPanel_descriptionRow {
	visibility:visible;
}
#editBMPanel_tagsSelector[collapsed="true"] {
	display:none !important;
}


/*URL栏刷新按钮位置调整*/
#urlbar,.searchbar-textbox {
	border-radius:5px !important;
}
#urlbar-reload-button,#urlbar-go-button,#urlbar-stop-button,.searchbar-engine-button {
	margin-top:-2px !important;
	margin-bottom:-2px !important;
}
#urlbar-go-button>.toolbarbutton-icon{
	margin-right:2px !important;
	margin-left:4px !important;
}
#urlbar-stop-button>.toolbarbutton-icon {
	margin-right:2px !important;
	margin-left:2px !important;
}
#urlbar-reload-button>.toolbarbutton-icon {
	margin-right:1px !important;
	margin-left: 2px !important;
}
#urlbar-stop-button>.toolbarbutton-icon {
  margin-right:1px !important;
	margin-left: 1px !important;
}


/*下拉框输入框字体*/
select,textarea,input{
	font-family:Tahoma,Microsoft Yahei, Arial, Helvetica, sans-serif !important;
}

/* 修改地址栏文字大小 */
#nav-bar { -moz-appearance: none !important;
 font-size: 100% !important; 
}




/*加长字体选择框*/
#sizeVar,#minSize,#defaultFontSize{width:45px!important;}
#FontsDialogPane{width:400px !important;}
#DefaultCharsetList{width:150px!important;}
#keepCookiesUntil{width:110px!important;}
#locationBarSuggestion{width:90px!important;}
#acceptThirdPartyMenu{width:115px!important;}
#historyMode{width:160px!important;}
#generalWindowOpen{width:135px!important;}
#browserStartupPage{width:185px!important;}
#selectLangs{width:125px!important;}


/*START==================================下拉地址栏扁平化样式==============================*/	

@-moz-document url-prefix('chrome://') {
	/*[[COMP]]*/ #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([current]) .ac-url-box {
	visibility:collapse!important;
	opacity:0 !important;
	-moz-transform:translateX(-.65em) !important
}
#PopupAutoCompleteRichResult .autocomplete-richlistbox > scrollbox {
	overflow:visible !important;
}

#PopupAutoCompleteRichResult {
	padding:0 !important;
	margin-top:-1px !Important;
	border:1px solid hsla(0,0%,50%,.2) !important;
	background:white padding-box!important;
	-moz-appearance:none!important;
	border-radius:2.15px;
}
#PopupAutoCompleteRichResult .autocomplete-richlistbox {
	background:white -moz-linear-gradient(left,hsl(0,0%,97%) 27px,hsl(0,0%,90%) 28px,transparent 0) repeat-y !important;
	background-size:28px auto!important;
	margin:1px !important;
}
#PopupAutoCompleteRichResult * {
	font:inherit !important;
	font-family:"Segoe ui",sans-serif !important;
	color:inherit !important;
}
#PopupAutoCompleteRichResult .ac-site-icon {
	margin:0 10px 0 1px !important;
}
#PopupAutoCompleteRichResult .ac-title-box {
	margin:0!important;
	padding:0 !important;
	color:black !important;
}
#PopupAutoCompleteRichResult  .autocomplete-richlistbox .autocomplete-richlistitem .ac-url-box {
	margin:0 !important;
	padding:1px 0 !important;
	-moz-transition:opacity .21s linear 0.02s,-moz-transform .21s ease-out 0.02s !important;
	color:hsl(0,0%,44%)!important;
	font-size:95.5% !important;
}
#PopupAutoCompleteRichResult .ac-extra {
	color:hsla(214,15%,44%,1) !important;
}
.autocomplete-richlistitem {
	border:1px solid transparent !important;
	border-bottom-color:transparent !important;
	border-top:1px solid hsla(0,0%,97%,0) !important;
	box-shadow:none !important;
	padding:2px 4px !important;
}
.autocomplete-richlistitem:first-child {
	border-top-color:transparent !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem{
	padding-left:4px !important;
}

.autocomplete-richlistitem[type*="suggest"] {
	background-color:rgba(0,0,0,.03) !important;
}
.autocomplete-richlistitem[actiontype="switchtab"] .ac-title .ac-normal-text.ac-comment:before {
	content:"\a0Switch to tab:\a0";
	color:hsla(0,0%,44%,1) !important;
	background:hsla(214,35%,87%,.2) /*-moz-linear-gradient( hsla(214,55%,94%,.2) 0px,hsla(214,25%,80%,.2) 100%)*/ border-box !important;
	box-shadow:inset hsla(214,50%,35%,.15) 0 0 0 1px,inset hsla(0,0%,100%,.2) 0 0 0 2px !important;
	border-radius:2.1px !important;
	-moz-margin-end:.4ex!important;
	pointer-events:none;
}
.autocomplete-richlistitem[actiontype="switchtab"] .ac-url .ac-normal-text.ac-action-text {
	visibility:collapse!important;
}
.autocomplete-richlistitem[actiontype="switchtab"] .ac-normal-text.ac-url-text {
	visibility:visible!important;
}

span.ac-emphasize-text {
	font-weight:normal !important;
	background:hsla(60,91%,75%,0.8) /*-moz-linear-gradient(bottom,hsla(37,100%,55%,.15) 4px,hsla(40,100%,60%,.2) 0px,hsla(60,100%,80%,.07) 100%)*/ border-box !important;
	text-decoration:none!important;
	box-shadow:inset hsla(60,100%,35%,.2) 0 0 0 1px,inset hsla(0,0%,100%,.15) 0 0 0 2px !important;
	border-radius:2.15px !important;
}
}
.autocomplete-richlistitem[current] {border-color: hsla(210,/*[SAT]*/100%,43%,0) !important; background:  hsla(210,/*[SAT]*/100%,50%,.18 ) border-box !important;  box-shadow: inset hsla(210,/*[SAT]*/100%,91%,.5) 0 0 0 1px !important;}
.autocomplete-richlistitem:active:hover {background-color:hsla(210,/*[SAT]*/100%,42%,.27)!important;box-shadow: inset hsla(210,/*[SAT]*/71%,84%,.5) 0 0 0 1px !important;}


/*地址栏自动填补的高度*/
#PopupAutoCompleteRichResult > .autocomplete-richlistbox > scrollbox {
	display: block !important;
}
#PopupAutoCompleteRichResult > .autocomplete-richlistbox > scrollbox > box {
	width:100% !Important;
}

/*=====================================下拉地址栏扁平化样式=====================================END*/	


