/*+++ 2016.12.19 +++*/

/*++第1部分+++++++++++++++++++++++防启动后界面跳动+++++++++++++++++++++++++*/
/*自动隐藏AidBar*/
#TabsToolbar_aidBar:not(:hover) {
	opacity: 0.1 !important;
	margin-bottom: 0px !important;
}

#navigator-toolbox ~ #TabsToolbar_aidBar {
	opacity: 1 !important;
	height: auto !important;
	margin-bottom: 0px !important;
}

/*工具栏图标倒三角下拉选项隐藏*/
.urlbar-history-dropmarker,
.toolbarbutton-menubutton-dropmarker,
.toolbarbutton-menu-dropmarker {
	display: none !important;
}

/*五角星書籤圖標邊框及左右距離(去小三角的后遗症)*/
#bookmarks-menu-button>.toolbarbutton-menubutton-button {
	-moz-appearance: none !important;
}

/*地址栏重载/停止/前进三合一图标*/
#urlbar-reload-button,
#urlbar-go-button,
#urlbar-stop-button {
	margin-left: 0px !important;
/*Fx48需要设置-10px, Fx49不用了*/
}

/*调节标签的宽度*/
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 110px !important;
	min-width: 110px !important;
}

/*书签栏工具栏左右变窄*/
.bookmark-item > .toolbarbutton-icon {
	margin: 0px 0px 0px -2px !important;
	padding: 0px !important;
}

/*隐藏图标*/
#UIEnhancerToolbarButton,/*Location Bar Enhancer*/
#VimFxButton,/*vimfx按钮,可输入"?"直接调用*/
#imacros-toggle-button,/*iMacros扩展*/
#nav-bar-overflow-button,/*工具栏-更多工具按钮*/
#PanelUI-fxa-avatar,/*FX41下SimpleWhite三道杠多出来的按钮*/
#greasemonkey-tbb,/*Greasemonkey擴展圖標*/
#abp-toolbarbutton,/*ABP擴展圖標*/
#pan-toolbarbutton,/*Pan擴展*/
#toggle-button--redirectoreinaregilssoncom-redirector,/*redirector擴展*/
#home-button,
#stylish-toolbar-button,/*Stylish導航欄圖標*/
#ghostery-button-badge,/*Ghostery计数*/
#social-share-button,/*分享此页面*/
#loop-button-throttled,/*开始会话*/
#loop-button,/*Loop通話*/
#GrabScroll-image,
#masonStatusbar,/*Mason*/
#noscript-tbb,/*Noscript*/
#ScrapBookStatusPanel,/*ScrapBook*/
#scriptish-button,/*Scriptish*/
#identity-icon-labels,
#identity-popup,
#reader-mode-button,/*閱讀模式按钮*/
#panic-button,/*忘記某些歷史*/
#PlacesChevron/*书签工具栏产生的箭头*/ {
	display: none !important;
}

/*調整圖標邊框——方法1*/
#bamboo-toolbar-button-feed >image,
#fireie-toolbar-palette-button >image,
#showFlagS-icon >image,/*國旗圖標*/
#PanelUI-menu-button >image,/*三道杠圖標*/
#back-button >image,
#forward-button >image,
#abp-toolbarbutton >image,
#ublock-button >image,
#flashgot-media-tbb >image,
#lpt_lastpass-compact-btn > image,
#greasemonkey-tbb > image,
#stylish-toolbar-button >image,
#userChromebtnMenu >image {
	padding: 0px !important;
}

/*調整圖標邊框——方法2*/
#ublock-button .toolbarbutton-badge-container {
	padding: 0px !important;
}

/*調整圖標邊框——方法3*/
#SimpleMusicPlayer .toolbarbutton-icon,
#RIL_toolbar_button .toolbarbutton-icon,
#bookmarks-menu-button .toolbarbutton-icon,
#pocket-button .toolbarbutton-icon,
#aup-toolbarbutton .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#foxyproxy-toolbar-icon .toolbarbutton-icon {
	padding: 0px !important;
	-moz-appearance: none !important;
}

/*SimpleMusicPlayer*/
#SimpleMusicPlayer .toolbarbutton-icon {
	margin-right: -10px !important;
}

/*侧栏脚本*/
#Sidebar-button .toolbarbutton-icon {
	margin-left: -6px !important;
	margin-right: -2px !important;
}

/*下载按钮*/
#downloads-button .toolbarbutton-badge-stack/*下载完成的状态*/ {
	margin-left: 3px !important;
	margin-right: -9px !important;
}

#downloads-button .toolbarbutton-icon/*普通状态*/ {
	margin-right: 0px !important;
}

/*AnoBtn圖標（两句要同時用）*/
toolbarbutton#anobtn,toolbarbutton#anobtn>image {
	padding: 0px !important;
	margin-left: 1px !important;
	margin-right: -2px !important;
}

/*UBO图标*/
#ublock0-button .toolbarbutton-icon {
	padding: 0px !important;
	-moz-appearance: none !important;
	margin-right: 1px !important;
}

/*Foxyproxy图标*/
#foxyproxy-toolbar-icon .toolbarbutton-icon {
	padding: 0px !important;
	-moz-appearance: none !important;
	margin-right: -4px !important;
}

/*Lastpass圖標距離調整（两句要同時用）*/
toolbarbutton#lpt_lastpass-compact-btn,toolbarbutton#lpt_lastpass-compact-btn>image {
	padding: 0px !important;
	margin-left: 1px !important;
	margin-right: 1px !important;
}

/*ucjsPermission圖標距離調整（两句要同時用）*/
toolbarbutton#ucjsPermission_Toolmenu,toolbarbutton#ucjsPermission_Toolmenu>image {
	padding: 0px !important;
	margin: 0px !important;
}

/*搜索栏宽度*/
#search-container {
	margin-top: -1px;
	right: 1px;
	max-width: 300px;
}