/*+++2014.12.13 17:15+++*/

/*输入框类chrome高亮*/
input:not([type='submit']):not([type='reset']):not([type='button']):not([type='checkbox']):not([type='radio']):focus,
textarea:focus, select:focus {
  border: 1px solid #8A2BE2;
  box-shadow: 1px 1px 0 #8A2BE2, 1px -1px 0 #8A2BE2, -1px 1px 0 #8A2BE2, -1px -1px 0
#8A2BE2, 0px 0px 5px 1px #8A2BE2
!important;
  border-radius: 3px!important;
}

/*去干扰码*/
FONT.jammer {
  display: none !important;
}

SPAN.fw {
  display: none !important;
}  /*国学网*/

/* 阻止<blink>标签带来的闪烁 */
blink, .blink, *[style*="blink"] {
  text-decoration: inherit !important;
}

/*显示缺失图片占位符*/
@-moz-document url-prefix(http), url-prefix(https), url-prefix(file) {
  img {
    font: 12px Arial!important;
  }

  img:-moz-broken {
    -moz-force-broken-image-icon: 1 !important;
    background-color: grey;
    background-repeat: no-repeat;
    position: relative;
    width: 24px;
    height: 24px;
  }
}

/*链接去下划线*/
* {
  text-decoration: none!important;
}

a:hover {
  text-decoration: none!important;
}

/*图片经过外发光*/
img:hover {
  box-shadow: 0px 0px 4px 4px rgba(130,190,10,0.6) !important;
  -moz-transition-property: box-shadow;
  -moz-transition-duration: .31s;
}

img {
  -moz-transition-property: box-shadow;
  -moz-transition-duration: .31s;
}

