/*+++2015.01.11 13:26+++*/

/*文本选中样式（黑底+绿字）*/
*::-moz-selection {
/* the background color of the highlight */
background: #333333 !important;
/* the color of the text within the highlight */
color: #00FF00 !important;
}

/*改变已阅读链接字体样式*/
@-moz-document
url-prefix("http"),url-prefix("https"),url-prefix("file") {
a:visited, a:visited *, a:active, a:active * {
color: rgb(130,130,130) !important;
 /*灰色*/;
}
}

/*超链接字体颜色渐变*/
a:hover,a:hover em,a>font:hover,b>font:hover,a:hover *,button[type="submit"]:hover *,label:hover {
transition-property: color,text-shadow!important;
transition-duration: 0.423s!important;
transition-timing-function: ease!important;
color: rgba(255,200,0,60)!important;
text-shadow: 0 1px rgba(242,33,49,60),0 1px 1px rgba(242,33,49,60),0 -1px 1px rgba(242,33,49,60),
1px 0 1px rgba(242,33,49,60),-1px 0 1px rgba(242,33,49,60),0 0 3px rgba(242,33,49,60)!important;
}

/*網頁源碼字體美化*/
@charset "utf-8";
@-moz-document url-prefix(view-source:){

*|*:root {
	background: #272822 !important;
}
*::-moz-selection {
	background-color:#49483E;
}
body {
	font: 12px Monaco, -moz-fixed !important;
	margin: 0;
	padding: 0.6em 1em;
	color: #FCFFE0 !important;
}
.doctype, .start-tag, .end-tag {
color: #06cfcf !important;
}
.attribute-name {
color: #a0a0f0 !important;
font-weight: normal !important;
}
.attribute-value {
color: white !important;
}
.comment, .cdata, .pi {
color: green !important;
}
.error, .error > .start-tag, .error > .end-tag,
.error > .comment, .error > .cdata, .error > .doctype,
.error > .pi, .error > .entity, .error > .attribute-name,
.error > .attribute-value {
color: red !important;
background: #fff !important;
font-weight: bold !important;
}
a:link {
color: #8fa3ff !important;
}
}
