/*+++2015.01.01 22:20+++*/

/*取消吧内自动链接*/
a.ps_cb {
pointer-events: none !important;
color: #000 !important;
}

/*突出显示自己的帖子*/
LI[data-field^='{"author_name":"dupontjoy"'] {
box-shadow: 0 0 10px #222;
/*display: none !important; 隱藏某人的贴子*/;
}