/*+++ 2016.09.09 +++*/

/*---------------------------------
指定域名时的几种方法:
@document url(http://www.w3.org/),
          url-prefix(http//www.w3,org/style/),
          domain(mozilla.org),
          regexp("https:.*")
---------------------------------*/

@-moz-document domain("ic.sjlpj.cn") {
/*=新建按钮框缩小=*/
.mod_title_opt.btn_blue,/*新建一级分类，新建产品品牌*/
.btn_blue/*型号分组管理，新建子组目录*/
{padding: 0px !important;}

}

@-moz-document regexp("https?:\/\/ic\.sjlpj\.cn\/.*ProductNewCategory\/.*") {
/*=TvcMall品类管理=*/
#J_mainContent > DIV > TABLE > TBODY > TR:first-child > TH:nth-child(2)/*父级分类*/{width: 280px}
#J_mainContent > DIV > TABLE > TBODY > TR:first-child > TH:nth-child(3)/*父级分类ID*/{width: 30px}
#J_mainContent > DIV > TABLE > TBODY > TR:first-child > TH:nth-child(4)/*排序*/{width: 30px}
#J_mainContent > DIV > TABLE > TBODY > TR:first-child > TH:nth-child(5)/*备注*/{width: 40px}
A[title="子分类排序"] {display: none !important;}
A[title="删除"] {color: red !important;}
A[class="btn_add"]/*添加子分类*/ {color: green !important;}
A[rel="link"]/*子分类排序导出*/ {color: black !important;}
A[title="子分类排序导入"]/*子分类排序导入*/ {color: black !important;}

}

@-moz-document domain("mercurymart.com") {
/*Mercury居中显示*/
#container .wrapInner {
overflow: inherit !important;
}

#featured {
overflow: inherit !important;
}

}

@-moz-document url("http://court.gov.cn/zgcpwsw/") {
form#feedbacksmallform>table {
position:absolute;top:2%;
}
}

@-moz-document domain("bbs.10moons.com") {
#threadlisttableid {
table-layout: inherit !important;
}
}

@-moz-document domain("520tieba.net") {
.t_fsz {
position:relative;left:-863.8px;
}
}

@-moz-document domain("sooopu.com") {
.related{
  clear: both;
}
}

@-moz-document domain("amd.com") {
.panel-wrapper{
left: -24px;
}
}

/*屏蔽贴吧所有等级为1级和2级的用户*/
@-moz-document domain("tieba.baidu.com") {
.l_post[data-field*="\"level_id\":1,"]{display: none !important;}
.l_post[data-field*="\"level_id\":2,"]{display: none !important;}
}

/*360云盘Android UA显示完整标题*/
@-moz-document regexp("https?:\/\/(.*)\.l(.*)\.yunpan\.cn\/.*") {
#fileList .name{-moz-binding: url("data:application/xml,<?xml version='1.0' encoding='UTF-8'?><bindings xmlns='http://www.mozilla.org/xbl'><binding id='embed' bindToUntrustedContent='true'><implementation><constructor><![CDATA[this.textContent =this.parentNode.parentNode.parentNode.getAttribute('data-path')]]></constructor></implementation></binding></bindings>")}
}
